export(caBTL, caImportance, caLogit, caMaxUtility, caModel, caPartUtilities, caSegmentation, caTotalUtilities, caUtilities, Conjoint, ShowAllSimulations, ShowAllUtilities, caFactorialDesign, caEncodedDesign, caRecreatedDesign, caRankToScore)
importFrom("AlgDesign", "optFederov")
importFrom("AlgDesign", "gen.factorial")
importFrom("grDevices", "dev.new")
importFrom("graphics", "barplot")
importFrom("stats", "as.formula", "cor", "kmeans", "lm", "model.matrix", "summary.lm")
importFrom("fpc", "plotcluster")
importFrom("broom", "augment")
importFrom("ggplot2", "ggplot")
importFrom("cluster", "pam")
import("ggfortify")
