export(caBTL, caImportance, caLogit, caMaxUtility, caModel, caPartUtilities, caSegmentation, caTotalUtilities, caUtilities, Conjoint, ShowAllSimulations, ShowAllUtilities, caFactorialDesign, caEncodedDesign)
